<section class="fill-form">
    <form>
        <div class="input">
            <label>Fullname</label>
            <input type="text" name="fullName"/>
        </div>
        <div class="input">
            <label>Email</label>
            <input type="text" name="email"/>
        </div>
        <div class="input">
            <label>Password</label>
            <input type="password" name="password"/>
        </div>
        <div class="input">
            <label>Re-Password</label>
            <input type="password" name="rePassword"/>
        </div>
        <div class="input">
            <button class="button-primary"> Sign Up </button>
        </div>
        <div class="input">
            <button class="button-secondary"> Cancel </button>
        </div>
    </form>
</section>