.search-text {
    background-color: #FAFAFA;
    background-image:  url(/assets/search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;    
    width: 100%;
    height: 36px;
}